@using DesktopWarrior.Models.ViewModels
@using DesktopWarrior.Models.ViewModels.BuildYourRig
@using DesktopWarrior.Models
@using System.Web.UI.WebControls;
@model ByrViewModel

@{
    var listItems = new List<ListItem>
    {
    new ListItem { Text = "Most popular", Value = "1" },
    new ListItem { Text = "Highest rated", Value = "2" },
    new ListItem { Text = "Lowest rated", Value = "3" },
    };
}

@section byrHead
{
    <header class="byr__header">
        <div class="container">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <h1>Select a @Model.Category.Title</h1>
            </div>
        </div>
    </header>
}
    <main class="row">
        <aside class="byr__preview col-md-4">
            @foreach (ByrLine line in Model.Build.Lines)
            {

                <br />
                <br />
                <div><b>@line.Product.Title @line.Product.Price</b> id: @line.Product.ProductId catId: @line.Product.CategoryId</div>
                foreach (var t in line.Product.Types)
                {
                    <p>@t.Title Parent: @t.ParentId Id: @t.TypeId</p>
                }
            }
            <br />
            Total: @Model.Build.TotalPrice
        </aside>
        <div class="col-md-8 byr">
            <div class="byr__selector">
                @foreach (Category cat in Model.Categories)
            {
                    <a class="selector__select @(Model.Category.CategoryId == cat.CategoryId ? "active" : "" ) @(Model.Build.HasCategory(cat.CategoryId))" href="@Url.Action("Index", "Byr", new { id = cat.CategoryId })">
                        @Html.Raw(cat.Icon)
                        <span>@cat.Title</span>
                        <div class="select__overlay"></div>
                    </a>
                }
            </div>
            <div class="byr__content">
                <div class="content__products">
                    <h2>Compatible products</h2>
                    @if (Model.CompatibleProducts.Count != 0)
                    {
                        foreach (Product prod in Model.CompatibleProducts)
                        {
                            @Html.Partial("ProductPartial", prod)
                        }
                    } else
                    {
                        <h3>There are no compatible products. See the list of all products.</h3>
                    }
                </div>
            </div>
            <div class="byr__content all-products">
                <div class="content__search">
                    <div>
                        @using (Html.BeginForm("Search", "Byr"))
                        {
                            @Html.Label("Search for " + Model.Category.Title + ":")
                            @Html.TextBox("searchQuery", null, new { @placeholder = "Search..." })
                        }
                    </div>
                    <div class="search__sort">
                        @using (Html.BeginForm("Sort", "Byr"))
                        {
                            @Html.Label("Sort by:")
                            @Html.DropDownList("sortBy", new SelectList(listItems, 1));
                        }
                    </div>
                </div>
                <div class="content__products">
                    <h2>All products</h2>
                    @foreach (Product prod in Model.Category.Products)
                    {
                        @Html.Partial("ProductPartial", prod)
                    }
                </div>
            </div>
        </div>
    </main>
