@using DesktopWarrior.Models.ViewModels
@using DesktopWarrior.Models.ViewModels.BuildYourRig
@using DesktopWarrior.Models
@using System.Web.UI.WebControls;
@model ByrViewModel

@{
    var listItems = new List<ListItem>
    {
    new ListItem { Text = "Most popular", Value = "1" },
    new ListItem { Text = "Highest rated", Value = "2" },
    new ListItem { Text = "Lowest rated", Value = "3" },
    };
}

@section byrHead
{
    <header class="byr__header">
        <div class="byr__header-cat-name">
            <div class="container">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <h1>Select Your @Model.Category.Title</h1>
                </div>
            </div>
        </div>
        <div class="accordion-title">
            <div class="container">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <h3>Do you know what a @Model.Category.Title is?</h3>
                    <button class="accordion-btn">Open   ▼</button>
                </div>
            </div>
        </div>
        <div class="accordion-content">
            <div class="container">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </header>
}

<main class="row">
    <aside class="byr__preview col-md-4  col-sm-12 ">
        <img class="byr__preview-img" src="https://i.imgur.com/p4hzBtz.jpg">

        <div class="byr__added-wrapper">
            <div class="byr__added">
                <h2>Parts added</h2> <br />
                @foreach (Category cat in Model.Categories)
                {
                    if (Model.Build.HasCategory(cat.CategoryId))
                    {
                        {
                            Product product = Model.Build.getLineForCategory(cat.CategoryId).Product;

                            <div class="byr__product-line-wrapper-1">
                                <button class="byr__product-sub">-</button>
                                <div class="byr__product-line-wrapper-2">
                                    <p><b>@cat.Title:</b></p>
                                    <div class="byr__product-line">
                                        <span class="byr__product-title">@product.Title</span><span class="byr__product-price">$@product.Price</span>
                                    </div>
                                </div>
                            </div>
                        }
                        <br />
                    }
                }

                <br />
            </div>
            <div class="byr__total">
                <p>Total Price</p><h2>$@Model.Build.TotalPrice</h2>
            </div>
        </div>

        @using (Html.BeginForm("ProceedToCheckout", "Byr", FormMethod.Post, new { @class = "byr__purchase-form" }))
            {
            <button class="byr__checkout-btn" type="submit">Purchase</button>
        }

    </aside>
    <div class="col-md-8 col-sm-12 byr">
        <div class="byr__selector">
            @foreach (Category cat in Model.Categories)
            {
                <a class="selector__select @(Model.Category.CategoryId == cat.CategoryId ? "active" : "" ) @(Model.Build.HasCategory(cat.CategoryId) ?  "done" : "")" href="@Url.Action("Index", "Byr", new { id = cat.CategoryId })">
                    @Html.Raw(cat.Icon)
                    <span>@cat.Title</span>
                    <div class="select__overlay"></div>
                </a>
            }
        </div>
        <div>
            <div class="byr__content">
                <div class="content__products">
                    <h2>Compatible products</h2>
                    @if (Model.CompatibleProducts.Count != 0)
                    {
                        foreach (Product prod in Model.CompatibleProducts)
                        {
                            @Html.Partial("ProductPartial", prod)
                        }
                    }
                    else
                    {
                        <h3>There are no compatible products. See the list of all products.</h3>
                    }
                </div>
            </div>
            <div class="byr__content all-products">
                <div class="content__search">
                    <div>
                        @using (Html.BeginForm("Search", "Byr"))
                        {
                            @Html.Label("Search for " + Model.Category.Title + ":")
                            @Html.TextBox("searchQuery", null, new { @placeholder = "Search..." })
                        }
                    </div>
                    <div class="search__sort">
                        @using (Html.BeginForm("Sort", "Byr"))
                        {
                            @Html.Label("Sort by:")
                            @Html.DropDownList("sortBy", new SelectList(listItems, 1));
                        }
                    </div>
                </div>
                <div class="content__products">
                    <h2>All products</h2>
                    @foreach (Product prod in Model.Category.Products)
                    {
                        @Html.Partial("ProductPartial", prod)
                    }
                </div>
            </div>
        </div>
    </div>
</main>
