@using DesktopWarrior.Models.ViewModels
@using DesktopWarrior.Models.ViewModels.BuildYourRig
@using DesktopWarrior.Models
@using System.Web.UI.WebControls;
@model ByrViewModel

@{
    var listItems = new List<ListItem>
{
new ListItem { Text = "Most popular", Value = "1" },
new ListItem { Text = "Highest rated", Value = "2" },
new ListItem { Text = "Lowest rated", Value = "3" },
};
}

@section byrHead
{
    <header class="byr__header">
        <div class="byr__header-cat-name">
            <div class="container">
                <div class="col-md-4"></div>
                <div class="col-lg-8 col-md-12 col-xm-12 col-xs-12">
                    <h1>Select Your @Model.Category.Title</h1>
                </div>
            </div>
        </div>
        <div class="accordion-title">
            <div class="container">
                <div class="col-md-4"></div>
                <div class="col-lg-8 col-md-12 col-xm-12 col-xs-12">
                    <h3>Do you know what a @Model.Category.Title is?</h3>
                    <button class="accordion-btn">Open   ▼</button>
                </div>
            </div>
        </div>
        <div class="accordion-content">
            <div class="container">
                <div class="col-md-4"></div>
                <div class="col-lg-3 col-md-12 col-xm-12 col-xs-12">
                    <span>@Model.Category.Description</span>
                    <br /><br />
                    <span>Watch the video for more information</span>
                </div>
                <div class="col-lg-3 col-md-12 col-xm-12 col-xs-12">
                    <iframe width="200" height="120" src="@Model.Category.Video" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </header>
}

<div class="container body-content">
    <main class="row">
        <aside class="byr__preview col-md-4  col-sm-12 ">
            <img class="byr__preview-img" src="https://i.imgur.com/p4hzBtz.jpg">

            <div class="byr__added-wrapper">
                <div class="byr__added">
                    <h2>Parts added</h2> <br />
                    @foreach (Category cat in Model.Categories)
                    {
                        if (Model.Build.HasCategory(cat.CategoryId))
                        {
                            {
                                Product product = Model.Build.GetLineForCategory(cat.CategoryId).Product;
                                <div class="byr__product-line-wrapper-1">
                                    @using (Html.BeginForm("RemoveFromBuild", "Byr", FormMethod.Get))
                                    {
                                        @Html.Hidden("productId", product.ProductId);
                                        <button class="byr__product-sub">-</button>
                                    }
                                    <div class="byr__product-line-wrapper-2">
                                        <p><b>@cat.Title:</b></p>
                                        <div class="byr__product-line">
                                            <span class="byr__product-title">@product.Title</span><span class="byr__product-price">$@product.Price</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }

                    @if(Model.Build.Lines.Count == 0)
                    {
                        <p>No parts added yet.</p>
                    }
                </div>
                <div class="byr__total">
                    <p>Total Price</p><h2>$@Model.Build.TotalPrice</h2>
                </div>
            </div>

            <div class="byr__purchase-form">
                @Html.ActionLink("Purchase", "Index", "Checkout", null, new { @class = "byr__checkout-btn "})
            </div>

        </aside>
        <div class="col-md-8 col-sm-12 byr">
            <div class="byr__selector">
                @foreach (Category cat in Model.Categories)
                {
                    <a class="selector__select @(Model.Category.CategoryId == cat.CategoryId ? "active" : "" ) @(Model.Build.HasCategory(cat.CategoryId) ?  "done" : "")" href="@Url.Action("Index", "Byr", new { id = cat.CategoryId })">
                        @Html.Raw(cat.Icon)
                        <span>@cat.Title</span>
                        <div class="select__overlay"></div>
                    </a>
                }
            </div>
            <div>
                <div class="byr__content">
                    <div class="content__products">
                        <h2>Compatible products</h2>
                        @if (Model.CompatibleProducts.Count != 0)
                        {
                            foreach (Product prod in Model.CompatibleProducts)
                            {
                                @Html.Partial("ProductPartial", prod)
                            }
                        }
                        else
                        {
                            if (!Convert.ToBoolean(Model.Category.IsCompatibleWithAll))
                            {
                            <h3>There are no compatible products. See the list of all products.</h3>
                            }
                            else
                            {
                                foreach (Product prod in Model.Category.Products)
                                {
                                    @Html.Partial("ProductPartial", prod)
                                }
                            }
                        }
                    </div>
                </div>
                <div class="byr__content all-products">
                    <div class="content__search">
                        <div>
                            @using (Html.BeginForm("Search", "Byr"))
                            {
                                @Html.Label("Search for " + Model.Category.Title + ":")
                                @Html.TextBox("searchQuery", null, new { @placeholder = "Search..." })
                            }
                        </div>
                        <div class="search__sort">
                            @using (Html.BeginForm("Sort", "Byr"))
                            {
                                @Html.Label("Sort by:")
                                @Html.DropDownList("sortBy", new SelectList(listItems, 1));
                            }
                        </div>
                    </div>
                    <div class="content__products">
                        <h2>All products</h2>
                        @foreach (Product prod in Model.Category.Products)
                        {
                            @Html.Partial("ProductPartial", prod)
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>