@using DesktopWarrior.Models
@model Product
<div>
    <div class="content__product">
        <div class="product__left">
            <div>
                <img src="@Model.Image" />
            </div>
            <div class="product__description">
                <h3><a href="#">@Model.Title</a></h3>
                <ul class="description__types">
                    @foreach (var t in Model.Types)
                    {
                        <li>@t.Title</li>
                    }
                </ul>
            </div>
        </div>
        <div class="product__right">
            <div class="product__price">
                <h3> $@Model.Price</h3>
            </div>
            <div class="product__review">
                <img src="~/Content/Images/star.svg" class="star" />
                <img src="~/Content/Images/star.svg" class="star" />
                <img src="~/Content/Images/star.svg" class="star" />
                <img src="~/Content/Images/star-stroke.svg" class="star" />
                <img src="~/Content/Images/star-stroke.svg" class="star"/>
                <span class="review__count">(12)</span>
            </div>
            @using (Html.BeginForm("AddToBuild", "Byr", FormMethod.Get, new { @class = "product__add-form"}))
            {
                @Html.Hidden("productId", Model.ProductId);
                @Html.Hidden("catId", Model.Category.CategoryId);
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

                <button type="submit" class="product__add">Add</button>
            }
        </div>
    </div>
</div>