@using DesktopWarrior.Models
@using DesktopWarrior.Models.ViewModels
@model CreateProductViewModel

@{
    ViewBag.Title = "CreateForm";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>Create a new @Model.Category.Title</h2>
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "form-product__create" }))
{
    @Html.LabelFor(x => x.Product.CategoryId)
    @Html.TextBoxFor(x => x.Product.CategoryId, new { @Value = Model.Category.CategoryId, @readonly = "readonly" })

    @Html.LabelFor(x => x.Product.Title)
    @Html.EditorFor(x => x.Product.Title)

    @Html.LabelFor(x => x.Product.Description)
    @Html.EditorFor(x => x.Product.Description)

    @Html.LabelFor(x => x.Product.Image)
    @Html.EditorFor(x => x.Product.Image)

    @Html.LabelFor(x => x.Product.Price)
    @Html.EditorFor(x => x.Product.Price)

    @Html.LabelFor(x => x.Product.Stock)
    @Html.EditorFor(x => x.Product.Stock)

    @Html.LabelFor(x => x.Product.Video)
    @Html.EditorFor(x => x.Product.Video)

    @Html.LabelFor(x => x.Product.Types)
    @Html.EditorFor(x => x.Product.Types)

    <button type="submit">Create product</button>
}

@*<script>
    $(function () {
        $("#addMore").click(function (e) {
            e.preventDefault();
            $("#fieldList").append("<li>&nbsp;</li>");
            $("#fieldList").append("<li><input type='text' name='name[]' placeholder='Name' /></li>");
            $("#fieldList").append("<li><input type='text' name='phone[]' placeholder='Phone' /></li>");
            $("#fieldList").append("<li><input type='text' name='email[]' placeholder='E-Mail' /></li>");
        });
    });
</script>*@