@using DesktopWarrior.Models
@model Product

@{
    ViewBag.Title = "CreateForm";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>Update the current product</h2>
@using (Html.BeginForm("Update", "Product", FormMethod.Post, new { @class = "form-product__create" }))
{
    @Html.LabelFor(x => x.CategoryId)
    @Html.TextBoxFor(x => x.CategoryId)

    @Html.LabelFor(x => x.Title)
    @Html.EditorFor(x => x.Title)

    @Html.LabelFor(x => x.Description)
    @Html.EditorFor(x => x.Description)

    @Html.LabelFor(x => x.Image)
    @Html.EditorFor(x => x.Image)

    @Html.LabelFor(x => x.Price)
    @Html.EditorFor(x => x.Price)

    @Html.LabelFor(x => x.Stock)
    @Html.EditorFor(x => x.Stock)

    @Html.LabelFor(x => x.Video)
    @Html.EditorFor(x => x.Video)

    @Html.LabelFor(x => x.Types)
    @Html.EditorFor(x => x.Types)

    <button type="submit">Update product</button>
}