@model DesktopWarrior.Models.ViewModels.CheckoutViewModel

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section byrHead
{
    <header class="byr__header">
        <div class="byr__header-cat-name">
            <div class="container">
                <div class="col-md-12 col-xm-12 col-xs-12">
                    <h1>Payment</h1>
                </div>
            </div>
        </div>
        <div class="accordion-title">
            <div class="container">
                <div class="col-md-12 col-xm-12 col-xs-12">
                </div>
            </div>
        </div>
    </header>
}

<div class="container">
    <div class="row checkout">
        <div class="col-md-7 checkout__form">
            @if (Model.Checkout.PaymentMethod == "Credit card / Debit card") { 
                <h2>Card information</h2>
                using (Html.BeginForm("Purchase", "Checkout"))
                {
                    @Html.AntiForgeryToken()
                    <section class="form__row">
                        <div class="form__section">
                            @Html.LabelFor(x => x.Payment.CardNumber)
                            @Html.TextBoxFor(x => x.Payment.CardNumber, new { placeholder = @Html.DisplayNameFor(m => m.Payment.CardNumber) })
                            @Html.ValidationMessageFor(model => model.Payment.CardNumber, "", new { @class = "text-danger" })
                        </div>
                    </section>
                    <section class="form__row">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form__section">
                                    @Html.LabelFor(x => x.Payment.ExpMonth)
                                    @Html.TextBoxFor(x => x.Payment.ExpMonth, new { placeholder = @Html.DisplayNameFor(m => m.Payment.ExpMonth) })
                                    @Html.ValidationMessageFor(model => model.Payment.ExpMonth, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <section class="form__section">
                                    @Html.LabelFor(x => x.Payment.ExpYear)
                                    @Html.TextBoxFor(x => x.Payment.ExpYear, new { placeholder = @Html.DisplayNameFor(m => m.Payment.ExpYear) })
                                    @Html.ValidationMessageFor(model => model.Payment.ExpYear, "", new { @class = "text-danger" })
                                </section>
                            </div>
                            <div class="col-md-4">
                                <section class="form__section">
                                    @Html.LabelFor(x => x.Payment.ControlNumber)
                                    @Html.TextBoxFor(x => x.Payment.ControlNumber, new { placeholder = @Html.DisplayNameFor(m => m.Payment.ControlNumber) })
                                    @Html.ValidationMessageFor(model => model.Payment.ControlNumber, "", new { @class = "text-danger" })
                                </section>
                            </div>
                        </div>
                    </section>
                    <section class="form__row submit">
                        <button type="submit" class="form__submit">Purchase</button>
                    </section>
                }
            } else
            {
                using (Html.BeginForm("Purchase", "Checkout"))
                {
                <h2>Checkout with @Model.Checkout.PaymentMethod</h2>
                <section class="form__row submit">
                    <button type="submit" class="form__submit">Purchase</button>
                </section>
                }
            }
        </div>

        @Html.Action("PartialBuildOverview", "Checkout", Model)
    </div>
</div>

@section scripts  {
    @Scripts.Render("~/bundles/jqueryval")
}

