<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="main-navigation">
        <div class="container">
            <a href="@Url.Action("Index", "Home")" class="main-navigation__logo">
                <img src="~/Content/Images/desktop_guys_logo.svg"/>
            </a>
            <ul>
                <li><a href="#">Guide</a></li>
                <li><a href="@Url.Action("Index", "Byr")">Build your rig</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
    @RenderSection("byrHead")
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
